{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}

<div class="maintcontent">


  <h3>add a project set</h3>




    <div class="addProjForm">
  <p>create a new project set</p>
    <form action="/pim1/addprojectset/" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />

  <p>For project background color, enter a valid hex color or color name. See <a href="http://www.w3schools.com/html/html_colornames.asp">this guide</a>.</p>

    </form>
    </div>



    {% include "pim1_tmpl/project_table_incl.html" %}


</div>


{% endblock %}
 
