{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}

<div class="homecontent">


  <h3>add a project set</h3>




    <div class="addProjForm">
  <p>create a new project set</p>
    <form action="/pim1/addprojectset/" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />


    </form>
    </div>

    <div class="addProjList backUpFileList">

    <h4>project sets</h4>
    <table >
    <tr><th>id</th><th>name</th><th>color</th></tr>
    {% for cs in current_sets %}

    <tr><td>{{ cs.id }}</td><td> {{cs.name}}</td><td style="background:{{ cs.color }};"> {{cs.color}}</td></tr>

    {% endfor %}



    </table>
    </div>



</div>


{% endblock %}
 
