{% extends "pim1_tmpl/pim1_base.html" %}


{% block xxprojlist %}
<li><a href="">place holder 1</a></li>
<li><a href="">place holder 2</a></li>
{% endblock %}


{% block content %}
<div class="homecontent">


<h3>Welcome to Benk</h3>



<ul class="homePageMainList">
<li>please see the short <a href="/pim1/help/#getting_started">getting started</a> help section, and related info.</li>
<li>Benk is in <strong>alpha</strong> release. Expect bugs.  Back up your data.</li> 
<li> <em>no warranties, use at your own risk</em>. </li>

</ul>


<p class="mailtoLine">Thank you for your <a href="mailto:bhadmin13@bernardhecker.com?Subject=benk%20feedback">feedback</a>!

</div>
{% endblock %}
 
