{% extends "pim1_tmpl/pim1_base.html" %}


{% block xxprojlist %}
<li><a href="">place holder 1</a></li>
<li><a href="">place holder 2</a></li>
{% endblock %}


{% block content %}
<div class="homecontent">


<h4>Import from Info Select</h4>

<p>Imports digested Info Select files. Place files to import into the "import" folder.</p>

<form action="/importfile/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

<p>20111203_PMO_T4pu.txt</p>
<p>shortie.txt</p>
<p>PMO project= '3'</p>
<p><strong>Be sure to neutralize the IS_import_IDs before a second importation.</strong></p>
<hr/>
<h2>Instructions</h2>
<p>To import Info Select items....</p>
<ol>
<li>if you have already imported IS files, you need to <b>CLEAR THE EXISTING IS IDS THAT WERE IMPORTED THE FIRST TIME.</b> That's because they are not unique across imports. There is not a built-in mechanism to do this yet.

<li>export a chunk of an IS file to HTML</li>
<li>move that to the same directory with <i>parseIShtml.py</i>.  The main selector file should be in that directory, and the supporting files in a subdirectory of that directory. </li>
<li>run parseIShtml.py over the tree of web pages</li>
<li>use the resulting output file to enter here</li>
<li>before you run the import, be sure to create the Project in Benk that you want the 
import to fall under, and note the number equivalent for this form.</li>
<li>run it and wait. PMO, 1832 items, too about five minutes</li>
<li>rejoice</li>

</ol>



</div>
{% endblock %}
 
