{% extends "pim1_tmpl/pim1_base.html" %}


{% block xxprojlist %}
<li><a href="">place holder 1</a></li>
<li><a href="">place holder 2</a></li>
{% endblock %}


{% block content %}
<div class="homecontent">


<h4>Import from Info Select</h4>

<p>Imports digested Info Select files. Place files to import into the "import" folder.</p>

<form action="/pim1/importfile/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>


<div class= "backUpFileList">
{{ dirlist|safe }}

</div>





<hr/>
<h3>Instructions To import Info Select items....</h3>
<p><em>Notes</em></p>
<ol>
<li>You can delete existing items (in proj 3) with: Item.objects.filter(project__id=3).delete()</li>
<li>Then, be sure to create an anchor item for the project, parent=0, follower=0</li>
<li>Import depends upon importISid's, which are cleared after each import</li>
<li>Beware hogging too much CPU. Try using <b>update</b> instead of x.save()?</li>

</ol>
<p>Procedure</p>
<ol>
<li>export a chunk of an IS file to HTML</li>
<li>move that to the same directory with <i>parseIShtml.py</i>.  The main selector file should be in that directory, and the supporting files in a subdirectory of that directory. </li>
<li>run parseIShtml.py over the tree of web pages</li>
<li>use the resulting output file to enter here</li>
<li>before you run the import, create the Project and its anchor item in Benk.</li>
<li>run it and wait. 1832 items, took about five minutes</li>

</ol>



</div>

{% endblock %}
 
