{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}

<div class="maintcontent">


<h3>maint</h3>

<p>various and sundry maintenance features</p>


<div class="maintLinks">

<ul>
	     <li><a href="/pim1/addproject/">add project</a> </li>
	     <li><a href="/pim1/addprojectset/">add project set</a> </li>
	     <li><a href="/pim1/importfile">import</a>  </li>
	     <li><a href="/pim1/admin">django admin</a> </li>
</ul>


<ul>
	     <li><a href="/pim1/list-items/">outline</a> </li>

	     <li>  <a href="/pim1/item/gooUpdate">gTask update</a> </li>


</ul>


<hr/>

<ul>
          <li>lock file contents:  <div class='lockMessage'>{{ lockMsg }}</div> </li>


	  <li><a href="/pim1/maint/clearlock">clear lock</a> </li>
</ul>

</div>

<div class="addProjList backUpFileList">

<table >

{% for cx in current_projs %}

<tr><td>{{ cx.id }}</td><td> {{cx.name}}</td><td> {{cx.set}}</td><td  style="background:{{ cx.color }};">{{cx.color}}</td><td><a href="/pim1/showchains/{{ cx.id }}/">sc</a></td></tr>

{% endfor %}



</table>

</div>


<div class="maintLogLines">

<p>
{{ logLines|safe }}
</p>


</div>



</div>

{% endblock %}
 
