<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="http://media.bernardhecker.com/pim1/static/css/main_style.css" media="Screen" />
    <link rel="stylesheet" href="http://media.bernardhecker.com/pim1/static/css/dragdrop.css" media="Screen" />

    <link type="text/css" rel="stylesheet" href="http://media.bernardhecker.com/pim1/static/css/mobile_main.css" media="handheld" />


    <link type="text/css" href="http://media.bernardhecker.com/pim1/static/js/jquery-ui-1.8.16.custom/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />	

    <script type="text/javascript" src="http://media.bernardhecker.com/pim1/static/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="http://media.bernardhecker.com/pim1/static/js/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js"></script>

    <script type="text/javascript" src="http://media.bernardhecker.com/pim1/static/js/dragdrop.js"></script>
    <script type="text/javascript" src="http://media.bernardhecker.com/pim1/static/js/items.js"></script>
                             
    <title>{% block title %}{{ titleCrumbBlurb }} - benk{% endblock %}</title>
</head>

<body onLoad="toggleSimple();hideClass('noteBody');showAProjSet('{{ thisSet }}')" > 

    <div id="headerx">
        {% block headerx %}
          <div class="hxtitle">benk</div>

	  <div id="pagecrumb">{{ titleCrumbBlurb }}</div>

	  <span class="ssearch">
	     <form action="/pim1/search/" method="get">
	       {% csrf_token %}
	        <input type="text" name="searchfx" id="searchfx" />

	       <input type="submit" value="search" />
	     </form>
           </span>

	  <ul class="hxbuttons">
	     <li><a href="/pim1/today/">today</a> | </li>
	     <li><a href="/pim1/grid-view/">grid view</a> | </li>
	     <li><a href="/pim1/">home</a> | </li>
	     <li><a href="/pim1/serialize">backup</a> | </li>
	     <li><a href="/pim1/healthcheck/0">health</a> | </li>
	     <li><a href="/pim1/maint/">maint</a></li>
	  </ul>




        {% endblock %}
    </div> <!-- closes headerx -->

 <div id="mainContainer">
    <div id="sidebar">
        {% block sidebar %}
	<div class="sideProjList"  >
        <a href="#"  onClick="(showAllProj())" class="projectsHeading">projects</a>




<form action="">
  <select name="selProj" onChange="(showAProjSet(this.value))"   >
      <option value="999" selected="selected"></option>

    {% for sx in current_sets %}
      <option value="{{ sx.id }}" >{{ sx.name }}</option>

    {%  endfor  %}
  </select>
</form>

 
<!-- here's the default project list, which can be overridden  -->    
<!-- in the calling html template -->

  {% block projlist %}
     {% if current_projs %}
        <ul>  
           {% for px in current_projs %}

	  

	      <li class="set_{{ px.set.id }} all_set"> <a href="/pim1/drag/{{px.id}}">{{ px.name }} {{ px.id }}</a> | <a href="/pim1/drag/{{px.archivePair_id}}">a</a>  
 | <a href="/pim1/psd/date_mod/{{px.id}}">v</a>
 | <a href="/pim1/healthcheck/{{px.id}}">c</a>

</li>
           {% endfor %}

       </ul>

      {% else %}
           <p>No projects are available.</p>
      {% endif %}
       </div>
     {% endblock %}

<!-- search was here -->
	 
 
   {% endblock %}
    </div>

  <div id="messageLine">
    <span class="dj_error">
    {% if error_message %}<strong>{{ error_message }}</strong>{% endif %}
    </span>    

    <span class="selected_item_msg">&nbsp;</span>
    <span class="xhr_lock_error">&nbsp;</span> 
  </div>

    <div id="mcontent">
        {% block content %}{% endblock %}
    </div>

 </div>

<div class="time">
{{ nowx }}
</div>


</body>
</html>
