<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="http://media.bernardhecker.com/pim1/static/css/main_style.css" media="Screen" />
    <link rel="stylesheet" href="http://media.bernardhecker.com/pim1/static/css/dragdrop.css"  />

    <link type="text/css" rel="stylesheet" href="http://media.bernardhecker.com/pim1/static/css/mobile_main.css" media="handheld" />

    <link type="text/css" rel="stylesheet" href="http://media.bernardhecker.com/pim1/static/css/print.css" media="print" />


    <link type="text/css" href="http://media.bernardhecker.com/pim1/static/js/jquery-ui-1.8.16.custom/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />	

    <script type="text/javascript" src="http://media.bernardhecker.com/pim1/static/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="http://media.bernardhecker.com/pim1/static/js/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js"></script>

    <script type="text/javascript" src="http://media.bernardhecker.com/pim1/static/js/dragdrop.js"></script>
    <script type="text/javascript" src="http://media.bernardhecker.com/pim1/static/js/items.js"></script>



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22766026-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>



                             
    <title>{% block title %}{{ titleCrumbBlurb }} [ {{ user.username }} ]- benk{% endblock %}</title>
</head>

<body class="background-dropx" onLoad="toggleSimple();hideClass('noteBody');showAProjSet('{{ thisSet }}')" > 

    <div id="headerx">
        {% block headerx %}
          <div class="hxtitle">benk</div>

	  <div id="pagecrumb">{{ titleCrumbBlurb }}</div>

	  <span class="ssearch">
	     <form action="/pim1/search/" method="get">
	       {% csrf_token %}
	        <input type="text" name="searchfx" id="searchfx" />

	       <input type="submit" value="search" />
	     </form>
           </span>

	  <ul class="hxbuttons">
	     <li><a href="/pim1/today/">today</a> | </li>
	     <li><a href="/pim1/grid-view/">grid view</a> | </li>
	     <li><a href="/pim1/">home</a> | </li>

	     {% if  user.username = "djangosuper" %}
    	     <li><a href="/pim1/maint/">maint</a> |</li>
	     <li><a href="/pim1/serialize">backup</a> | </li>
	     <li><a href="/pim1/healthcheck/0">health</a> | </li>


	       {% else %}

	       <li><a href="/pim1/manage/">manage</a> |</li>

	       {% endif %}

             {% if user.is_authenticated %}
	     <li><a href="/accounts/logout/">log out</a> |</li>
	     {% else %}
	     <li><a href="/accounts/login/">log in</a> |</li>
	     {% endif %}
	     <li><a href="/pim1/help/">help</a></li>

	  </ul>




        {% endblock %}
    </div> <!-- closes headerx -->

 <div id="mainContainer">
    <div id="sidebar">
        {% block sidebar %}
	<div class="sideProjList"  >
        <a href="#"  onClick="(showAllProj())" class="projectsHeading">projects</a>




<form action="">
  <select name="selProj" onChange="(showAProjSet(this.value))"   >
      <option value="999" selected="selected"></option>

    {% for sx in current_sets %}
      <option value="{{ sx.id }}" >{{ sx.name }}</option>

    {%  endfor  %}
  </select>
</form>

 
<!-- here's the default project list, which can be overridden  -->    
<!-- in the calling html template -->

  {% block projlist %}
     {% if current_projs %}
        <ul>  
           {% for px in current_projs %}

	<!--   style="background:{{ px.set.color }};" -->

	      <li class="set_{{ px.set.id }} all_set"  style="background:{{ px.color }};" > <a href="/pim1/drag/{{px.id}}">{{ px.name }} {{ px.id }}</a></li>

           {% endfor %}

       </ul>

      {% else %}
           <p>No projects are available.</p>
      {% endif %}
       </div>
     {% endblock %}

<!-- search was here -->
	 
 
   {% endblock %}
    </div>

  <div id="messageLine">
    <span class="dj_error">
    {% if error_message %}{{ error_message }} {% endif %}
    {% if messages %}  

        {% for mx in  messages %} {{ mx }} {% endfor %}

    {% endif %}
    </span>    

    <span class="selected_item_msg">&nbsp;</span>
    <span class="xhr_lock_error">&nbsp;</span> 
    <span class="user_data">{{ user.username }} ({{ user.first_name }} {{ user.last_name }})</span>


  </div>

    <div id="mcontent">
        {% block content %}{% endblock %}
    </div>

 </div>

<div class="time">
{{ nowx }}
</div>


</body>
</html>
