{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}

<div class="maintcontent">


<h3>show chains</h3>

<p>list chains, offer fix for broken chain.</p>



<hr/>


<h4>items without followers</h4>

<div class="backUpFileList">

   <table >
   {% for cx in noFollowers %}

   <tr><td>{{ cx.id }}</td><td> {{cx.title}}</td><td> {{cx.follows}}/{{cx.parent}}:{{ cx.indentLevel }}</td></tr>

   {% endfor %}


   </table>

</div>

<hr/>

<h4>chains</h4>

<div class="backUpFileList">


    {% if displayTables %}

	<div class="table_lists" >

	   {% for tablex in displayTables %}

	      {{ tablex|safe }} 



	   {% endfor %}
	</div>


    {% else %}

	   <p>No items are available.</p>

    {% endif %}


</div>

</div>

{% endblock %}
 
