{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}



{% if subtitle %}

   <span class="headline">{{ titleCrumbBlurb }}</span>

{% endif %}
 


{% if current_items %}

    <div class="itemdrag_table benk (list)" >
 
<!--
   <div class="header itemsdrag">
      <span class= "itemdrag actionArrows">id</span>
      <span class= "prio">priority status</span>

      <span class="itemdrag ti">title</span>

      <span class="itemdrag notecell">note</span>
      <span class="itemdrag pfi id">p/f/i</span>
    </div>
-->
    {% for ci in current_items %}
    {% ifchanged %}

<div><span class="projheader"  style="background: {{ ci.project.color }};" >{{ ci.projectForOrdering }}  <a href="#" onclick="toggleDoneItems()"  class="toggleDone">toggle done</a> 
</span></div>
{% endifchanged %}


        <!-- removed this class from below div: ui-widget-headerx --> 
        <div class="itemsdrag bhdraggable dropx"  id="{{ ci.id }}"  onclick="selectMe(this)">

 	  <span class="itemdrag actionArrows"><a class="ilid" href="/pim1/list-items/hoist/{{ci.id}}">{{ci.id}}</a>&nbsp;<a href="/pim1/item/add/{{ ci.id }}">&harr;</a><a href="#" onClick='actionJax({{ ci.id }},0,"promote")' >&larr;</a><a href="#"  onClick='actionJax({{ ci.id }},0,"demote")'>&rarr;</a><a href="#" onClick='actionJax({{ ci.id }},0,"moveUp")'>&uarr;</a><a href="#" onClick='actionJax({{ ci.id }},0,"moveDown")'>&darr;</a><a href="#" onClick='deleteMeFromDOM({{ ci.id }});actionJax({{ ci.id }},0,"archiveThisItem")'>a</a></span>
<!--a href="#" onClick='deleteMeFromDOM({{ ci.id }});actionJax({{ ci.id }},0,"delete")'>&otimes;</a -->

<span class="prio_stat_btns"><a href="#{{ci.id}}" onClick='actionJax( {{ ci.id }},0,"incPriority")'>+</a><a href="#{{ci.id}}" onClick='actionJax( {{ ci.id }},0,"decPriority")'>-</a></span><span class="prio priority_{{ ci.priority }}">{{ci.priority}} {{ci.statusText|slice:":6"|default:"&nbsp;"}}</span><span class="prio_stat_btns"><a href="#{{ci.id}}" onClick='actionJax( {{ ci.id }},0,"incStatus")'>+</a><a href="#{{ci.id}}" onClick='actionJax( {{ ci.id }},0,"decStatus")'>-</a></span><span class="itemdrag ti">{# NOT USED {ci.indentString|safe}#}<span class="indent_{{ci.indentLevel}}"><span class="marker">{{ ci.outlineBullet|safe }} </span><a href="/pim1/item/edititem/{{ ci.id }}" class="{{ci.statusText}} titlelink">{{ ci.title }}</a></span></span>



          <span class="itemdrag notecell">
	  {% if ci.HTMLnoteBody|length > 2 %}
 	    <a onClick="toggleNoteBody('notebody_{{ci.id}}');" class="noteplus">&oplus;</a>
	    <a onClick='detailpop("{{ci.id}}")' class="notearr">&rArr;</a> </span>
	   
	  {% else %}
	    ---</span>
          {% endif %}
        	  <span class="itemdrag id pfi">{{ci.parent}}/{{ci.follows}}:{{ci.indentLevel}}</span>


          <div id="notebody_{{ci.id}}" class="noteBody"><div class="noteWrapper">{{ ci.HTMLnoteBody|safe|default:" --- " }}</div></div>
       </div>



    {% endfor %}
    </div>

<p class="ilid"> {{ current_items|length }}<img src="http://media.bernardhecker.com/pim1/static/images/itemlistwidget.gif"></p>

{% else %}
   
       <p>No items are available.</p>

{% endif %}



{% endblock %}
 
