{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}


<script type="text/javascript">

  function othertestjax(cix, tix) {
      $.get("/xhr_test", {
      ci:cix, ti:tix
      },


    function(data) {
          alert("Data:"+data);
          for (i=0;i<data.length;i++)
	       {
	       alert(data[i][0]+":"+data[i][1]);

	       }

    },"json"  );
  };


function heightFix(itemID) {
	h=$("#484 .itemdrag.ti").css( "height" );
        //alert("h="+h);
        $("#484 .itemdrag.id").css( "height", h);
        $("#484 .itemdrag.ti").css( "height", h);
        $("#484 .itemdrag.prio").css( "height", h);
        $("#484 .itemdrag.stat").css( "height", h);
        $("#484 .itemdrag.notecell").css( "height", h);


}


</script>

{# <p><button onclick="othertestjax(222, 555)">ajax</button> &nbsp; <button onclick="heightFix(484)">height</button></p> #}


{% if subtitle %}

   <span class="headline">{{ subtitle }}</span>

{% endif %}
 


{% if current_items %}

    <div class="itemdrag_table benk" >
    <div class="header itemsdrag">
      <span class= "itemdrag actionArrows">id</span>
      <span class= "prio">priority status</span>

      <span class="itemdrag ti">title</span>

      <span class="itemdrag notecell">note</span>
      <span class="itemdrag pfi id">p/f/i</span>
    </div>
    
    {% for ci in current_items %}
    {% ifchanged %}<div><span class="projheader" >{{ ci.projectForOrdering }}</span></div>{% endifchanged %}


        <!-- removed this class from below div: ui-widget-headerx -->
        <div class="itemsdrag bhdraggable dropx"  id="{{ ci.id }}">

 	  <span class="itemdrag actionArrows"><a class="ilid" href="/list-items/hoist/{{ci.id}}">{{ci.id}}</a>&nbsp;<a href="/item/add/{{ ci.id }}">&harr;</a><a href="/item/promote/{{ ci.id }}">&larr;</a><a href="/item/demote/{{ ci.id }}">&rarr;</a><a href="/item/moveup/{{ ci.id }}">&uarr;</a><a href="/item/movedown/{{ ci.id }}">&darr;</a><a href="/item/delete/{{ ci.id }}">&otimes;</a>
          </span>

	  <span class="prio priority_{{ ci.priority }}">{{ci.statusText|default:"&nbsp;"}}</span>


          <span class="itemdrag ti">{#{ci.indentString|safe}#}<span class="indent_{{ci.indentLevel}}">{{ ci.outlineBullet|safe }} <a href="/item/edititem/{{ ci.id }}">{{ ci.title }}</a></span></span>

          <span class="itemdrag notecell">
	  {% if ci.HTMLnoteBody|length > 2 %}
 	    <a onClick="toggleLI('notebody_{{ci.id}}');" class="noteplus">&oplus;</a>
	    <a onClick='detailpop("{{ci.id}}")' class="notearr">&rArr;</a> </span>
	   
	  {% else %}
	    ---</span>
          {% endif %}
        	  <span class="itemdrag id pfi">{{ci.parent}}/{{ci.follows}}:{{ci.indentLevel}}</span>


          <div id="notebody_{{ci.id}}" class="noteBody"><div class="noteWrapper">{{ ci.HTMLnoteBody|safe|default:" --- " }}</div></div>
       </div>



    {% endfor %}
    </div>

<p><img src="http://media.bernardhecker.com/pim1/static/images/itemlistwidget.gif"></p>

{% else %}
   
       <p>No items are available.</p>

{% endif %}



{% endblock %}
 
