{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}

{% if formset %}

<h3>Editing {{ pItem }},  project {{ projectName }} ( {{ projectNum }} )</h3>




   {% if formset.errors %}
      <h5>Please correct the error {{ formset.errors|pluralize }} below.</h5>

   {% endif %}


   <form action="/pim1/item/edititem/{{ pItem }}/" method="post" action="">
   {% csrf_token %}
   <table>
   {{ formset }}
   </table>
   <br/>
   <input type="submit" value="Submit" />
   </form>


{% else %}
    <p>No formset available.</p>
{% endif %}

<p><a href="/pim1/admin/pengine/item/{{ pItem }}">Admin edit</a> for this record.</p>


{% endblock %}
 
