{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}

{% if subtitle %}

   <span class="headline">{{ subtitle }}</span>

{% endif %}

<div class="mainGrid">

{% if displayList %}

  <div class="throwaway"><div class="throwaway">

    {% for ci in displayList %}
        {% ifchanged %}
            </div></div>
            <div class="gridCell">
              <div class="projheader">{{ ci.projectForOrdering }}</div>
	      <div class="gridItemList">
        {% endifchanged %}

  	         <div class="itemd">{{ ci.id }}:
                   <a href="/pim1/item/edititem/{{ci.id}}">{{ ci.title }}</a> 
		   {# <span class="gridDetail">{{ ci.priority }}:{{ci.priorityText}} /{{ ci.status }}:{{ci.statusText}}</span> #}
	         </div>
    {% endfor %}

   </div></div>

   </div>

   <p class="gridFooter"> <img src="http://media.bernardhecker.com/pim1/static/images/itemlistwidget.gif"></p>

{% else %}
    <p>No items are available.</p>
{% endif %}



{% endblock %}
 
