{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}

{% if subtitle %}

   <span class="headline">{{ subtitle }}</span>

{% endif %}

{% if current_items %}

    <table class="item_table">
    <tr><th>id</th><th>p/f/i

        </th><th class="titlecol">title</th><th>priority</th><th>status</th><th>note</th></tr>
    
    {% for ci in current_items %}
    {% ifchanged %}<tr><td class="projheader" colspan="6">{{ ci.projectForOrdering }}</td></tr>{% endifchanged %}
        <tr class="items">

	 <td class="itemtd actionArrows"><a class="ilid" href="/pim1/list-items/hoist/{{ci.id}}">{{ci.id}}</a>&nbsp;{% if is_search_result %}&nbsp;
{% else %}<a href="/pim1/item/add/{{ ci.id }}">&harr;</a><a href="/pim1/item/promote/{{ ci.id }}">&larr;</a><a href="/pim1/item/demote/{{ ci.id }}">&rarr;</a><a href="/pim1/item/moveup/{{ ci.id }}">&uarr;</a><a href="/pim1/item/movedown/{{ ci.id }}">&darr;</a><a href="/pim1/item/delete/{{ ci.id }}">&otimes;</a>

{% endif %}

          </td>

	 <td class="itemd">{{ci.parent}}/{{ci.follows}}/<span class="indent">{{ci.indentLevel}}</span></td>
{% comment %}
	 <td class="itemtd">
	   <ul class="projname">
	     {% for px in ci.projects %}
	         <li>{{ px }}</li>
	     {% endfor %}
	   </ul>
	</td>
{% endcomment %}
        <td class="itemtd">{{ci.indentString|safe}}{{ ci.outlineBullet|safe }} <a href="/pim1/admin/pengine/item/{{ci.id}}/">{{ ci.title }}</a></td>
        <td class="itemtd">{{ ci.priority }}:{{ci.priorityText}}
	</td>
        <td class="itemtd">{{ ci.status }}:{{ci.statusText}}</td>
        <td class="itemtd notecell">
	  {% if ci.HTMLnoteBody|length > 2 %}
  	    <a onClick="toggleLI('notebody_{{ci.id}}');" class="noteplus">&oplus;</a>
	    <a onClick='detailpop("{{ci.id}}")' class="notearr">&rArr;</a> 

	    <span id="notebody_{{ci.id}}" class="noteBody">{{ ci.HTMLnoteBody|safe|default:" --- " }}</span>
          {% endif %}
      </td>
        

        </tr>
    {% endfor %}
    </table>

<p><img src="http://media.bernardhecker.com/pim1/static/images/itemlistwidget.gif"></p>

{% else %}
    {% if is_search_result %}
       <p class="errormsg">No hits on that search term.</p>
    {% else %}
       <p>No items are available.</p>
    {% endif %}
{% endif %}



{% endblock %}
 
