{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}

{% if current_items %}

    <table class="itemDetail item_table">
    {% for ci in current_items %}

     <tr class="items"><td class="titlecol itemtd" colspan="3"><a href="/pim1/item/edititem/{{ ci.id }}">{{ci.id}}:  {{ ci.title }}</a></td></tr>

     <tr class="items"><td class="itemtd">project: {{ ci.project.id}}: <strong>{{ ci.project }}</strong>   /   set:{{ ci.project.set.id}}: {{ ci.project.set }}
	</td>

     <td  class="itemtd">indentLevel: {{ci.indentLevel}}</td>  </tr>


     <tr class="items">
     <td class="itemtd">parent: {{ci.parent}}</td>
     <td  class="itemtd">follows: {{ci.follows}}</td>
     <tr class="items"><td class="itemtd">date_created:{{ ci.date_created }} </td>
        <td class="itemtd">date_mod:{{ ci.date_mod }}</td></tr>



     <tr class="items"><td class="itemtd">priority: {{ ci.priority }}:{{ci.priorityText}}</td>
                       <td class="itemtd">status: {{ ci.status }}:{{ci.statusText}}</td></tr>


     <tr class="items"><td class="itemtd">project: {{ ci.project }}</td>
                       <td class="itemtd">IS_import_ID:{{  ci.IS_import_ID }}</td></tr>


     <tr class="items"><td class="itemtd">date_gootask_display (date): {{ ci.date_gootask_display }}</td>
	 <td class="itemtd">gtask_id:{{ ci.gtask_id }} </td>
        </tr>






   <tr class="items"><td colspan="2" >Note: 
{{ ci.HTMLnoteBody|safe|default:" - - - " }}
      </td></tr>






    {% endfor %}


    </table>


{% else %}
    <p>No items are available.</p>
{% endif %}



{% endblock %}
 
