{% extends "pim1_tmpl/pim1_base.html" %}

{% block content %}



{% if searchterm %}
<h5>searching: {{ searchterm }}</h5>
{% endif %}


{% if request.session.viewmode  != 'today' %}

<div class="headline">Sorted by <strong>{{ pSort }}</strong>

  <span class="psdSortLinks">sort [ 
	       <a href="/pim1/psd/id/{{targetProject}}">id</a>

	       <a href="/pim1/psd/status/{{targetProject}}">status</a> 
	       <a href="/pim1/psd/priority/{{targetProject}}">priority</a> ] 
	       <a href="/pim1/psd/date_created/{{targetProject}}">created</a> 
	       <a href="/pim1/psd/date_mod/{{targetProject}}">modified</a> 


   </span>



</div>

{% endif %}

{% if current_items %}

    <table class="psd_table item_table">
    <tr class="item_table_header"><th>id</th><th>p/f:c</th><th class="titlecol">title</th><th>priority</th><th>status</th>
<th>

{% if 'date' in pSort %}
{{ pSort }}
{% endif %}

{% if 'date' not in pSort %}
date created
{% endif %}
</th>


<th>note</th></tr>
    
    {% for ci in current_items %}
    {% ifchanged %}
        <tr  class="psd_projectheader_row tr_set_{{ ci.project.set.id }}" style="background: {{ ci.project.color }};" >
        <td class="psd_projheader" colspan="7"><a href="/pim1/drag/{{ ci.project.id }}">{{ ci.projectForOrdering }}</a>
	<span class="sortViewLinkMain"><a href="/pim1/drag/{{ ci.project.id }}">go to main view</a></span></td>
</tr>{% endifchanged %}



        <tr class="items tr_set_{{ ci.project.set.id }}" id = {{ ci.id }} >



	 <td class="itemtd id_cell_psd">{{ci.id}}&nbsp;</td>


	 <td class="itemtd pfi_cell_psd">{{ci.parent}}/{{ci.follows}}:<span class="indent">{{ci.indentLevel}}</span></td>
{% comment %}
	 <td class="itemtd">
	   <ul class="projname">
	     {% for px in ci.projects %}
	         <li>{{ px }}</li>
	     {% endfor %}
	   </ul>
	</td>
{% endcomment %}
        <td class="itemtd">{{ci.indentString|safe}}&bull; <a href="/pim1/item/edititem/{{ci.id}}" class="item_title_psd">{{ ci.title }}</a></td>


        <td class="itemtd">
	 

   <select class="prioritySelect priority_{{ ci.priority }}" onChange="prioritySelected({{ ci.id }});"  />
   {% if ci.priority == "1" %}
     <option value="1" selected="selected">TODAY</option>
   {% else %}
     <option value="1" >TODAY</option>
   {% endif %}

   {% if ci.priority == "2" %}
     <option value="2" selected="selected">Urgent</option>
   {% else %}
     <option value="2" >Urgent</option>
   {% endif %}

   {% if ci.priority == "3" %}
     <option value="3" selected="selected">Important</option>
   {% else %}
     <option value="3" >Important</option>
   {% endif %}

   {% if ci.priority == "4" %}
     <option value="4" selected="selected">Normal</option>
   {% else %}
     <option value="4" >Normal</option>
   {% endif %}

   {% if ci.priority == "5" %}
     <option value="5" selected="selected">Low</option>
   {% else %}
     <option value="5" >Low</option>
   {% endif %}

   {% if ci.priority == "0" %}
    <option value="" selected="selected"></option>
  {% else %}
    <option value="0" ></option>
  {% endif %}

  </select>
 
     </td>
     <td class="itemtd">
	 


  <select class="statusSelect" onChange="statusSelected({{ ci.id }});"   />
  {% if ci.status == "1" %}
    <option value="1" selected="selected">WIP</option>
  {% else %}
    <option value="1" >WIP</option>
  {% endif %}

  {% if ci.status == "2" %}
    <option value="2" selected="selected">Next</option>
  {% else %}
    <option value="2" >Next</option>
  {% endif %}

  {% if ci.status == "3" %}
    <option value="3" selected="selected">Cold</option>
  {% else %}
    <option value="3" >Cold</option>
  {% endif %}

  {% if ci.status == "5" %}
    <option value="5" selected="selected">Hold</option>
  {% else %}
    <option value="5" >Hold</option>
  {% endif %}

  {% if ci.status == "6" %}
    <option value="6" selected="selected">Cancelled</option>
  {% else %}
    <option value="6" >Cancelled</option>
  {% endif %}

  {% if ci.status == "8" %}
    <option value="8" selected="selected">Ref</option>
  {% else %}
    <option value="8" >Ref</option>
  {% endif %}
  {% if ci.status == "9" %}
    <option value="9" selected="selected">Done</option>
  {% else %}
    <option value="9" >Done</option>
  {% endif %}

  {% if ci.status == "0" %}
    <option value="0" selected="selected"></option>
  {% else %}
    <option value="0" ></option>
  {% endif %}

  </select>


</td>





        <td class="itemtd date_cell_psd">
{% if  pSort = '-date_created' or pSort = 'priority' or pSort = 'status' or pSort = "project" %}
{{ ci.date_created|date:"d M Y" }}
{% endif %}

{% if pSort = '-date_mod' %}
{{ ci.date_mod }}
{% endif %}

{% if pSort = '-date_gootask_display' %}
{{ ci.date_gootask_display }}
{% endif %}

</td>

        <td class="itemtd note_cell_psd">
	  {% if ci.HTMLnoteBody|length > 2 %}
  	    <span onClick="toggleLI('notebody_{{ci.id}}');" class="noteplus"><img src="http://media.bernardhecker.com/pim1/static/images/itemlistwidget.gif"></span>
	    <span id="notebody_{{ci.id}}" class="noteBody">{{ ci.HTMLnoteBody|safe|default:" --- " }}</span>
          {% endif %}
      </td>
        

        </tr>
    {% endfor %}
    </table>

<p onLoad="showAllProj();"/>



{% else %}
    <p>No items are available.</p>
{% endif %}
{% endblock %}
 
